{% extends "lab_8/layout/base.html" %}

{% block content %}
<div id = "lab8">

<button style = "size: 50px; text-align: center; padding: 10px; position: absolute; margin-left: 50%" onclick="facebookLogin()">Login with Facebook</button>

</div>
{% endblock %}
