body{
   margin-top: 70px;
   background-color:  #778899;
}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

button {
	color: #2F4F4F;
	size: 40px;

}

.profile{
	color: #2F4F4F;
}

.feed{
	color: #2F4F4F;
}

.cover {
	align-items: right;
}

h1{
	text-align: center;
	font-size: 30px;
}
h2{
	text-align: center;
	font-size: 20px;
}
h3{
	font-size: 15px;
}

.logout{
	margin-left: 640px;
}

img{
	margin-left: 600px;
}

