{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1><font color="#504742">Portofolio</font></h1>
<hr/>
<section name="bio">
    <h2><font color="#504742">Bio</font></h2>
    <center><img src="https://image.ibb.co/ewSuG5/xx.png" alt="xx" border="0" / align="right"></center>
    <p><font color="#86776f">
        {{content}}
    </font></p>    
</section>
<hr/>
<section name="about_me">
    <h2><font color="#504742">About Me</font></h2>
    <ul><font color="#86776f">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul></font>
</section>
<hr/>

<section name="form">
    <h2><font color="#504742">Send Message</font></h2>
    <font color="#86776f">
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </font>
</section>

{% endblock %}
